<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028846939583-cfq0nouv3pag7mr1firl868lecik5o3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028846939583-cfq0nouv3pag7mr1firl868lecik5o3h</string>
	<key>API_KEY</key>
	<string>AIzaSyCxyLoe23WKhnyserJRyV56vKXcJLxDqe0</string>
	<key>GCM_SENDER_ID</key>
	<string>1028846939583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vimigoTest</string>
	<key>PROJECT_ID</key>
	<string>vimigotest</string>
	<key>STORAGE_BUCKET</key>
	<string>vimigotest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028846939583:ios:dd61a3cb8e10878264850a</string>
	<key>DATABASE_URL</key>
	<string>https://vimigotest.firebaseio.com</string>
</dict>
</plist>
